.cartitems {
    /* margin: 100px 170px; */
    max-width: 1152px;
    margin: 100px auto;
}

.cartitems hr {
    background: #e2e2e2;
    height: 3px;
    border: 0;
}

.cartItem-Format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    gap: 75px;
    align-items: center;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;

}

.cartItem-format {
    font-size: 17px;
    font-weight: 600;
}

.cart-icon {
    height: 62px;
}

.remove-icon {
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
}

.cartitem-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: white;
}

.cartitem-down {
    display: flex;
    margin: 100px 0px;
}

.cartitem-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitem-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.cartitem-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    color: #fff;
    background: #ff5a5a;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode {
    font-weight: 500;
    flex: 1;
}

.cartitems-promocode p {
    color: #555;
}

.cartitems-promoBox {
    width: 504px;
    margin-top: 15px;
    height: 58px;
    padding-left: 20px;
    background: #eaeaea;
    border-radius: 12px;
}

.cartitems-promoBox input {
    outline: none;
    border: none;
    background: transparent;
    width: 330px;
    height: 50px;
}

.cartitems-promoBox button {
    width: 170px;
    height: 58px;
    background: black;
    cursor: pointer;
    color: white;
}