.descriptionbox {
    max-width: 1152px;
    margin: 120px auto;
}

.descrioptionbox-navigator {
    display: flex;

}

.descriptionbox-nav-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}

.fade {
    background: #FBFBFB;
    color: #888;
}

.descriptionbox-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #D0D0D0;
    padding: 48px;
    padding-bottom: 70px;
}